<h1 class="add-book-h1">Add Books</h1>
<div class='book-container'>
    <form (ngSubmit)="addBook()">
        <div class="add-book">

            <label class="add-book-label" for="bookName">BookName:</label>
            <input class="add-book-input" [(ngModel)]="bookName" type="text" name="bookName" id="bookName" autofocus
                autocomplete="off">
            <label class="add-book-label" for="author">AuthorName:</label>
            <input class="add-book-input" [(ngModel)]="authorName" type="text" name="author" id="author"
                autocomplete="off">

            <label class="add-book-label" for="quantity">Quantity:</label>
            <input class="add-book-input" [(ngModel)]="quantity" type="number" name="quantity" id="quantity"
                autocomplete="off">
            <label class="add-book-label" for="Price">Price:</label>
            <input class="add-book-input" [(ngModel)]="price" type="number" name="Price" id="price" autocomplete="off">
            <label class="add-book-label" for="category">Category:</label>
            <input class="add-book-input" [(ngModel)]="category" type="text" name="category" id="category"
                autocomplete="off">
            <label class="add-book-label" for="image">Image</label>
            <input class="add-book-input" [(ngModel)]="image" type="text" id="file" name="image" autocomplete="off">
            <div class="add-book-textarea">
                <label for="description" class="add-book-label">Description:</label>
                <textarea name="description" class="add-book-input" id="description" cols="30" rows="10"
                    [(ngModel)]="description" autocomplete="off">Description</textarea>
            </div>
            

        </div>

        <div class="addbook-button">
            <button type="submit" class="add-book-button">Add</button>
            <button class="add-book-button" type="reset">Reset</button>

        </div>

    </form>

</div>

