<header id='header'>
        <nav class='navbar' >
                <a class='logo' routerLink="home-page" *ngIf="!isLoggedIn">Library</a>
                <a class='nav-item' routerLink="login" *ngIf="!isLoggedIn">Login</a>
                <a class='nav-items' routerLink="home-page" *ngIf="isLoggedIn">Home</a>
                <a class='nav-items' *ngIf="isLoggedIn" routerLink="books">Books</a>
                <a class='nav-items' *ngIf="isLoggedIn" routerLink="allusers">Users</a>
                <a class='nav-items' *ngIf="isLoggedIn" routerLink="requestedbooks">Requested Books</a>
                <a routerLink="login" class='nav-items' *ngIf="isLoggedIn" (click)="logout()">logout</a>


        </nav>
</header>