<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <caption> Requested Books</caption>
    <thead>
        <th scope="col"> S.No</th>
        <th scope="col">UserName</th>
        <th scope="col">BookName</th>
    </thead>

    <tbody>
        <tr *ngFor="let bookObj of book;let i=index">
            <td>{{i+1}} </td>
            <td>  {{bookObj.user.name}}</td>            
            <td>  {{bookObj.bookName}}</td>

        </tr>
    </tbody>
</table>