<div>
    <div class="search">
        <!-- <input type="text" class="search-input" name="bookName" id="search" [(ngModel)]="bookName" placeholder="Search..." autocomplete="off"> -->
        <!-- <button type="button" class="search-button" (click)="search()">Search</button>
        <button type="button" class="reset-button" (click)=" clearSearch()">Reset</button> -->

        <br>
    </div>

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" >
        <caption>BOOKS</caption>

        <thead>
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">Books</th>
                <th scope="col">Authors</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col"> Actions</th>

            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let bookobj of book;let i=index">
                <td>{{i+1}}</td>
                <td>{{bookobj.bookName}}</td>
                <td>{{bookobj.authorName}}</td>
                <td>{{bookobj.category}}</td>
                <td>Rs:{{bookobj.price}}</td>
                <td>{{bookobj.quantity}}</td>
                <td>
                <a class="book-anchor" routerLink="{{bookobj._id}}/edit">Edit</a>&nbsp;<button class="delete-book-button"
                    (click)="deleteBook(bookobj)">Delete</button>
                </td>
             
            </tr>
        </tbody>

    </table>

    <div class='orderbooks'>
        <a routerLink="all-orders" class="books-a">
            <button class="order-button">Ordered Books</button>
        </a>
        <a routerLink="add-book" class="books-a">
            <button class="order-button">Add book</button>

        </a>

    </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>