<div>
    <div class="search">
        <input type="text" class="search-input" name="search" id="search" placeholder="Search...">
        <br>
    </div>

    <table>
        <caption>BOOKS</caption>

        <thead>
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">Books</th>
                <th scope="col">Authors</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>


            </tr>
        </thead>
        <tbody id="book"> </tbody>

    </table>
    <div class='orderbooks'>
        <a href="ordered.html " class="books-a">
            <button class="order-button">ordered books</button>

        </a>
        <a href="buyedbooks.html" class="books-a">
            <button class="order-button"> user books</button>

        </a>
        <a href="addbook.html" class="books-a">
            <button class="order-button">Add books</button>

        </a>

    </div>
</div>