<table>
    <caption>Users</caption>

    <thead>
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">Registered Date</th>
            <th scope="col">Actions</th>



        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let userObj of users;let i=index">
            <td >{{i+1}}</td>
            <td >{{userObj.name}}</td>
            <td class="email-td">{{userObj.email}}</td>
            <td >{{userObj.createdAt| date: 'yyyy-MM-dd'}}</td>
            <td><button class='accept-button'  (click)='verify(userObj.email,"verified")' >Accept </button>   <button class='reject-button'  (click)='reject(userObj._id)' >Reject</button> </td>
            
        </tr>
    </tbody>

</table>
