<h1 class="add-book-h1">Edit Book</h1>
<div class='book-container'>
    <form (ngSubmit)="editBook()">
        <div class="add-book" *ngIf="book">

            <label class="add-book-label" for="bookName">BookName:</label>
            <input class="add-book-input" type="text" name="bookName" id="bookName" [(ngModel)]="book.bookName"
                autocomplete="off">
            <label class="add-book-label" for="author">AuthorName:</label>
            <input class="add-book-input" type="text" name="author" id="author" [(ngModel)]="book.authorName"
                autocomplete="off">

            <label class="add-book-label" for="quantity">Quantity:</label>
            <input class="add-book-input" type="text" name="quantity" id="quantity" [(ngModel)]="book.quantity"
                autocomplete="off">
            <label class="add-book-label" for="Price">Price:</label>
            <input class="add-book-input" type="text" name="Price" id="price" [(ngModel)]="book.price"
                autocomplete="off">
            <label class="add-book-label" for="category">Category:</label>
            <input class="add-book-input" type="text" name="category" id="category" [(ngModel)]="book.category"
                autocomplete="off">
            <label class="add-book-label" for="image">Image</label>
            <input class="add-book-input" type="text" id="file" name="image" [(ngModel)]="book.image"
                autocomplete="off">
            <label class="add-book-label" for="description">Description</label>
            <textarea name="description" id="description" cols="30" rows="10" [(ngModel)]="book.description"
                autocomplete="off"></textarea>
        </div>

        <div>
            <button class="add-book-button">Update</button>

        </div>

    </form>

</div>