<p>placeorder works!</p>
<table>
    <caption>BOOKS</caption>

    <thead>
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">Books</th>
            <th scope="col">Authors</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>


        </tr>
    </thead>
    <tbody> 

        <tr  >
            <td>{{book.id}}</td>
            <td>{{book.bookname}}</td>
            <td>{{book.authorname}}</td>
            <td>{{book.category}}</td>
            <td>{{book.price}}</td>
            <td>{{book.quantity}}</td>


        </tr>
    </tbody>

</table>