<div>
    <div class="search">
        <input type="text" class="search-input" name="search" id="search" placeholder="Search...">
        <br>
    </div>

    <table>
        <caption>BOOKS</caption>

        <thead>
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">UserName</th>
                <th scope="col">BookName</th>
                <th scope="col">TakenDate</th>
                <th scope="col">DueDate</th>

            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let orderObj of orders ;let i=index">
                <td>{{i+1}}</td>
                <td>{{orderObj.userId.name}}</td>
                <td>{{orderObj.bookId.bookName}}</td>
                <td>{{orderObj.orderDate| date: 'yyyy-MM-dd'}}</td>
                <td>{{orderObj.dueDate| date: 'yyyy-MM-dd'}}</td>

            </tr>
        </tbody>

    </table>
</div>