<div>


    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <caption>ORDERS</caption>

        <thead>
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">UserName</th>
                <th scope="col">BookName</th>
                <th scope="col">TakenDate</th>
                <th scope="col">DueDate</th>
                <th scope="col">Returned Date</th>

            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let orderObj of order;let i=index">
             
                <td>{{i+1}}</td>
                <td>{{orderObj.user.name}}</td>
                <td>{{orderObj.book.bookTitle}}</td>
                <td>{{orderObj.orderDate| date: 'yyyy-MM-dd'}}</td>
                <td>{{orderObj.dueDate| date: 'yyyy-MM-dd'}}</td>
                <td>{{orderObj.returnDate| date: 'yyyy-MM-dd'}}</td>

            </tr>
        </tbody>

    </table>
</div>