<div>
   

    <table>
        <caption>ORDERS</caption>

        <thead>
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">UserName</th>
                <th scope="col">BookName</th>
                <th scope="col">TakenDate</th>
                <th scope="col">DueDate</th>
                <th scope="col">Returned Date</th>

            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let orderObj of orders ;let i=index">
                <td>{{i+1}}</td>
                <td>{{orderObj.doc.user.name}}</td>
                <td>{{orderObj.doc.book.bookTitle}}</td>
                <td>{{orderObj.doc.orderDate| date: 'yyyy-MM-dd'}}</td>
                <td>{{orderObj.doc.dueDate| date: 'yyyy-MM-dd'}}</td>
                <td>{{orderObj.doc.returnDate| date: 'yyyy-MM-dd'}}</td>

            </tr>
        </tbody>

    </table>
</div>