<div class="register-container">
    <h1 class="register-h1">Register</h1>

    <form class="register-form" onsubmit="register()">

        <label for="name">Name:</label>
        <input class="register-input" type="text" name="name" id="name" placeholder="Name" autofocus>
        <label for="email">Email</label>

        <input class="register-input" type="email" name="email" id="email" placeholder="Email" required>
        <label for="password">Password</label>

        <input class="register-input" type="password" name="password" id="password" placeholder="Password"
            required><br>
        <button class="register-button" type="submit">REGISTER</button>
            <a class="register-a" href="login.html">Already have an account?</a>


    </form>
</div>