<div class="register-container">
    <h1 class="register-h1">Register</h1>

    <form class="register-form" (ngSubmit)="register()">

        <label for="name">Name:</label>
        <input class="register-input" type="text" [(ngModel)]="name" name="name" id="name" placeholder="Name"autocomplete="off" autofocus>
        <label for="email">Email</label>

        <input class="register-input" type="email" [(ngModel)]="email" name="email" id="email" placeholder="Email"
        autocomplete="off" required>
        <label for="password">Password</label>

        <input class="register-input" type="password" [(ngModel)]="password" name="password" id="password"
            placeholder="Password" required autocomplete="off"><br>
        <button class="register-button" type="submit">REGISTER</button>
        <a class="register-a" href="login.html">Already have an account?</a>


    </form>
</div>